@model ShopCartViewModel

<div class="container">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
    <div class="alert alert-warning mt-3">
        <b>Название:</b>@el.name<br />
        <b>Цена:</b>@el.pric.ToString("c")
        <a class="btn btn-warning" asp-controller="ShopCart" asp-action="RemoveToCart" asp-route-item="@el.ShopCartId">Удалить</a>
    </div>

    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>